<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>우취 | 대장군타우렌의 자식들</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="../web/assets/images/favicon.ico">
        <link href="../web/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="../web/assets/css/bootstrap-corporate.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="../web/assets/css/app-corporate.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
        <link href="../web/assets/libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="../web/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- script -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous"></script>
        <style>
            .raid tr { text-align: center }
            .navbar-custom { background-color: #000 }
            .popover-body > div > p {margin-bottom:5px;}
            .popover-body > div > p > code {font-size: 100%; color:#6559cc}
            .popover-body p a {cursor:pointer;}
            .popover-body p a code {
                font-size: 100%;
                color: #f672a7;
                word-wrap: break-word;
            }
            #main_7d_days .col-2 { max-width: 14% }
            #main_5d_days .col-3 { max-width: 20% }
            .input-group-append .bootstrap-select {margin-left:10px}
            ul.dropdown-menu.inner
            {
                max-height: 250px!important;
                overflow-y: auto!important;
            }

        </style>
    </head>

    <body class="loading" data-layout-mode="horizontal" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
        <input type="hidden" id="userSeq" name="userSeq" th:value="*{userSeq}" >

        <!-- Begin page -->
        <div id="wrapper">
            <!-- Topbar Start -->
            <div class="navbar-custom">
                <div class="container-fluid">

                    <ul class="list-unstyled topnav-menu float-right mb-0">

                        <li class="d-none d-lg-block">
                            <form class="app-search">
                                <div class="app-search-box dropdown">
                                    <div class="input-group">
                                        <input type="search" class="form-control" placeholder="Search..." id="top-search">
                                        <div class="input-group-append">
                                            <button class="btn">
                                                <i class="fe-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>

                        <li class="dropdown d-inline-block d-lg-none">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fe-search noti-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-lg dropdown-menu-right p-0">
                                <form class="p-3">
                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                </form>
                            </div>
                        </li>

                        <li class="dropdown d-none d-lg-inline-block">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light" data-toggle="fullscreen" href="#">
                                <i class="fe-maximize noti-icon"></i>
                            </a>
                        </li>

                        <li class="dropdown notification-list topbar-dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="fe-bell noti-icon"></i>
                                <span class="badge badge-danger rounded-circle noti-icon-badge">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="m-0">
                                        <span class="float-right">
                                            <a href="" class="text-dark">
                                                <small>Clear All</small>
                                            </a>
                                        </span>Notification
                                    </h5>
                                </div>

                                <div class="noti-scroll" data-simplebar>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item active">
                                        <div class="notify-icon bg-soft-primary text-primary">
                                            <i class="mdi mdi-comment-account-outline"></i>
                                        </div>
                                        <p class="notify-details">Doug Dukes commented on Admin Dashboard
                                            <small class="text-muted">1 min ago</small>
                                        </p>
                                    </a>

                                  <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon">
                                            <img src="../web/assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">Mario Drummond</p>
                                        <p class="text-muted mb-0 user-msg">
                                            <small>Hi, How are you? What about our next meeting</small>
                                        </p>
                                    </a>

                                  <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon">
                                            <img src="../web/assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                                        <p class="notify-details">Karen Robinson</p>
                                        <p class="text-muted mb-0 user-msg">
                                            <small>Wow ! this admin looks good and awesome design</small>
                                        </p>
                                    </a>

                                  <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-soft-warning text-warning">
                                            <i class="mdi mdi-account-plus"></i>
                                        </div>
                                        <p class="notify-details">New user registered.
                                            <small class="text-muted">5 hours ago</small>
                                        </p>
                                    </a>

                                  <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info">
                                            <i class="mdi mdi-comment-account-outline"></i>
                                        </div>
                                        <p class="notify-details">Caleb Flakelar commented on Admin
                                            <small class="text-muted">4 days ago</small>
                                        </p>
                                    </a>

                                  <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-secondary">
                                            <i class="mdi mdi-heart"></i>
                                        </div>
                                        <p class="notify-details">Carlos Crouch liked
                                            <b>Admin</b>
                                            <small class="text-muted">13 days ago</small>
                                        </p>
                                    </a>
                                </div>

                              <!-- All-->
                                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                                    View all
                                    <i class="fe-arrow-right"></i>
                                </a>

                            </div>
                        </li>

                        <li class="dropdown notification-list topbar-dropdown">
                            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="../web/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                <span class="pro-user-name ml-1">
                                    Nik Patel <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>

                              <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ri-account-circle-line"></i>
                                    <span>My Account</span>
                                </a>

                              <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ri-settings-3-line"></i>
                                    <span>Settings</span>
                                </a>

                              <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ri-wallet-line"></i>
                                    <span>My Wallet <span class="badge badge-success float-right">3</span> </span>
                                </a>

                              <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ri-lock-line"></i>
                                    <span>Lock Screen</span>
                                </a>

                                <div class="dropdown-divider"></div>

                              <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="ri-logout-box-line"></i>
                                    <span>Logout</span>
                                </a>

                            </div>
                        </li>
                    </ul>

                  <!-- LOGO -->
                    <div class="logo-box">
                        <a href="index.html" class="logo logo-dark text-center">
                            <span class="logo-sm">
                                <img src="../web/assets/images/logo-sm-dark.png" alt="" height="24">
                              <!-- <span class="logo-lg-text-light">Minton</span> -->
                            </span>
                            <span class="logo-lg">
                                <img src="../web/assets/images/logo-dark.png" alt="" height="20">
                              <!-- <span class="logo-lg-text-light">M</span> -->
                            </span>
                        </a>

                        <a href="index.html" class="logo logo-light text-center">
                            <span class="logo-sm">
                                <img src="../web/assets/images/logo-sm.png" alt="" height="24">
                            </span>
                            <span class="logo-lg">
                                <img src="../web/assets/images/logo-light.png" alt="" height="20">
                            </span>
                        </a>
                    </div>

                    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                        <li>
                            <button class="button-menu-mobile waves-effect waves-light">
                                <i class="fe-menu"></i>
                            </button>
                        </li>

                        <li>
                            <!-- Mobile menu toggle (Horizontal Layout)-->
                            <a class="navbar-toggle nav-link" data-toggle="collapse" data-target="#topnav-menu-content">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                          <!-- End mobile menu toggle-->
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
          <!-- end Topbar -->

            <div class="topnav">
                <div class="container-fluid">
                    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                        <div class="collapse navbar-collapse" id="topnav-menu-content">
                            <ul class="navbar-nav dropdown">
                                <li class="nav-item">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-dashboard-line mr-1"></i> 와우 현황판
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-calendar-2-line mr-1"></i> 일정 관리
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-ui" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-pencil-ruler-2-line mr-1"></i> 레이드 관리 <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-ui">
                                        <a href="apps-calendar.html" class="dropdown-item"><i class="ri-calendar-2-line align-middle mr-1"></i> 레이드 공격대 모집</a>
                                        <a href="apps-chat.html" class="dropdown-item"><i class="ri-message-2-line align-middle mr-1"></i> 레이드 참가 현황</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-stack-line mr-1"></i> 케릭터 관리 <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-ui">
                                        <a href="apps-calendar.html" class="dropdown-item"><i class="ri-calendar-2-line align-middle mr-1"></i> 내 케릭터 설정</a>
                                        <a href="apps-chat.html" class="dropdown-item"><i class="ri-message-2-line align-middle mr-1"></i> 관심 케릭터 설정</a>
                                        <a href="apps-chat.html" class="dropdown-item"><i class="ri-message-2-line align-middle mr-1"></i> 케릭터 평점 남기기(매너점수)</a>
                                        <a href="apps-chat.html" class="dropdown-item"><i class="ri-message-2-line align-middle mr-1"></i> 케릭터 데스 노트</a>
                                    </div>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-pages-line mr-1"></i> 길드 관리
                                    </a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ri-pages-line mr-1"></i> 정산
                                    </a>
                                </li>

                            </ul> <!-- end navbar-->
                        </div> <!-- end .collapsed-->
                    </nav>
                </div> <!-- end container-fluid -->
            </div> <!-- end topnav-->

          <!-- ============================================================== -->
          <!-- Start Page Content here -->
          <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box page-title-box-alt">
                                    <h4 class="page-title">와우 현황판</h4>
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Minton</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Layouts</a></li>
                                            <li class="breadcrumb-item active">Horizontal</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- 안퀴폐허 초기화 정보-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body" style="background-image: url(../web/assets/images/card/buru.jpg); background-size: 100% 100%; ">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="my-1"><a class="text-white" style="font-size: 25px">[3D] 안퀴라즈폐허</a></h4>
                                                <p id="main_3d_period" class="text-truncate mb-0 text-white">
                                                    <i class="ri-map-pin-line align-bottom mr-1 text-white"></i></p>
                                            </div>
                                        </div>
                                        <div class="text-white" style="margin-top: 20px;">
                                            <div id="main_3d_days" class="row" style=" text-align: center;">
                                                <div class="col-4">
                                                    <div class="">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div>
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div>
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 안퀴사원 초기화 정보-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body" style="background-image: url(../web/assets/images/card/cthun.jpg); background-size: 100% 100%; ">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="my-1"><a class="text-white" style="font-size: 25px">[7D] 안퀴라즈사원</a></h4>
                                                <p id="main_7d_period" class="text-truncate mb-0 text-white">
                                                    <i class="ri-map-pin-line align-bottom mr-1 text-white"></i></p>
                                            </div>
                                        </div>
                                        <div class="text-white" style="margin-top: 20px;">
                                            <div id="main_7d_days" class="row" style=" text-align: center;">
                                                <div class="col-2">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 오닉시아 초기화 정보-->
                            <div class="col-xl-4 col-sm-6">
                                <div class="card">
                                    <div class="card-body" style="background-image: url(../web/assets/images/card/onyxia.jpg); background-size: 100% 100%; ">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="my-1"><a class="text-white" style="font-size: 25px">[5D] 오닉시아의둥지</a></h4>
                                                <p id="main_5d_period" class="text-truncate mb-0 text-white">
                                                    <i class="ri-map-pin-line align-bottom mr-1 text-white"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="text-white" style="margin-top: 20px;">
                                            <div id="main_5d_days" class="row" style=" text-align: center;">
                                                <div class="col-3">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div style="text-align: center;">
                                                        <p class="text-truncate mb-0 mb-sm-0 text-white"></p>
                                                        <h5 class="mb-sm-0 text-white"></h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 케릭터 목록 -->
                        <div id="characterRow" class="row">

                        </div>

                        <div class="row">
                            <!-- 메모 -->
                            <div class="col-xl-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dropdown float-right">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                <i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                                                <!-- item-->
                                                <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                            </div>
                                        </div>
                                        <h4 class="header-title mb-3">Todo </h4>

                                        <div class="todoapp">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 id="todo-message"><span id="todo-remaining">4</span> of <span id="todo-total">8</span> remaining</h5>
                                                </div>
                                                <div class="col-auto">
                                                    <a href="" class="float-right btn btn-light btn-sm" id="btn-archive">Archive</a>
                                                </div>
                                            </div>
                                            <div style="max-height: 275px;" data-simplebar="init">
                                                <div class="simplebar-wrapper" style="margin: 0px;">
                                                    <div class="simplebar-height-auto-observer-wrapper">
                                                        <div class="simplebar-height-auto-observer"></div>
                                                    </div>
                                                    <div class="simplebar-mask">
                                                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                            <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                                                <div class="simplebar-content" style="padding: 0px;">
                                                                    <ul class="list-group list-group-flush todo-list" id="todo-list">
                                                                        <li class="list-group-item border-0 pl-0">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input todo-done" id="8">
                                                                                <label class="custom-control-label" for="8">Vue Admin &amp; Dashboard  </label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div
                                                    ><div class="simplebar-placeholder" style="width: auto; height: 348px;"></div>
                                                </div>
                                                <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                                    <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                                </div>
                                                <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                                    <div class="simplebar-scrollbar" style="height: 217px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
                                                </div>
                                            </div>
                                            <form name="todo-form" id="todo-form" class="needs-validation mt-3" novalidate="">
                                                <div class="row">
                                                    <div class="col">
                                                        <input type="text" id="todo-input-text" name="todo-input-text" class="form-control" placeholder="화면 처리만 했고, 디비 연결은 아직 안되어있음. 테스트 부탁" required="">
                                                        <div class="invalid-feedback">
                                                            Please enter your task name
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <button class="btn btn-primary btn-md btn-block width-sm waves-effect waves-light" type="submit" id="todo-btn-submit">등록</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- end .todoapp-->
                                    </div> <!-- end card-body -->
                                </div> <!-- end card-->
                            </div>

                            <!-- [모달] 레이드 등록 폼-->
                            <dic class="col-xl-9">
                                <div id="modal_register_raid_character" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Raid popup modal</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body p-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label for="modal_raid_type" class="control-label">레이드 유형</label>
                                                        <select id="modal_raid_type" class="selectpicker mo-s" data-style="btn-outline-pink" disabled>
                                                            <option value="AR">안퀴라즈폐허</option>
                                                            <option value="AT">안퀴라즈사원</option>
                                                            <option value="BL">검은날개둥지</option>
                                                            <option value="MC">화산심장부</option>
                                                            <option value="OX">오닉시아의둥지</option>
                                                            <option value="ZG">줄구룹</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="margin-top: 10px">
                                                        <label for="modal_character" class="control-label">참여 케릭터</label>
                                                        <select id="modal_character" class="selectpicker mo-s" data-style="btn-outline-danger" disabled>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="margin-top: 10px">
                                                        <div class="form-group mb-0">
                                                            <label class="col-form-label">레이드 날짜</label>
                                                            <div class="input-group">
                                                                <input type="text" id="modal_raid_date" class="form-control mo-i" data-provide="datepicker" data-date-format="yyyy.M.dd" data-date-autoclose="true" placeholder="2020.09.25">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text"><i class="ri-calendar-event-fill"></i></span>
                                                                    <select class="selectpicker" id="modal_raid_date_time" data-style="btn-light mo-s" style="margin-left:10px">
                                                                        <option value="23">23</option>
                                                                        <option value="22">22</option>
                                                                        <option value="21">21</option>
                                                                        <option value="20">20</option>
                                                                        <option value="19">19</option>
                                                                        <option value="18">18</option>
                                                                        <option value="17">17</option>
                                                                        <option value="16">16</option>
                                                                        <option value="15">15</option>
                                                                        <option value="14">14</option>
                                                                        <option value="13">13</option>
                                                                        <option value="12">12</option>
                                                                        <option value="11">11</option>
                                                                        <option value="10">10</option>
                                                                        <option value="09">09</option>
                                                                        <option value="08">08</option>
                                                                        <option value="07">07</option>
                                                                        <option value="06">06</option>
                                                                        <option value="05">05</option>
                                                                        <option value="04">04</option>
                                                                        <option value="03">03</option>
                                                                        <option value="02">02</option>
                                                                        <option value="01">01</option>
                                                                        <option value="00">00</option>
                                                                    </select>
                                                                    <select id="modal_raid_date_minute" class="selectpicker mo-s" data-style="btn-light" style="margin-left:10px">
                                                                        <option value="00">00</option>
                                                                        <option value="30">30</option>
                                                                    </select>
                                                                </div>
                                                            </div><!-- input-group -->
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12" style="margin-top: 10px">
                                                        <div class="form-group">
                                                            <label for="modal_raid_title" class="control-label">공대 타이틀</label>
                                                            <input type="text" id="modal_raid_title" class="form-control mo-i" placeholder="김씨막공 5천올분 전클모집">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="modal_captain_character" class="control-label">공대장 케릭터</label>
                                                            <input type="text" id="modal_captain_character" class="form-control mo-i" placeholder="김씨대장" maxlength="10">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="modal_profit" class="control-label">수익</label>
                                                            <input type="text" class="form-control mo-i" id="modal_profit" placeholder="1300" value="0" maxlength="5">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="modal_expense" class="control-label">지출</label>
                                                            <input type="text" class="form-control mo-i" id="modal_expense" placeholder="100" value="0" maxlength="5">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group no-margin">
                                                            <label for="modal_memo" class="control-label">메모</label>
                                                            <textarea class="form-control mo-t" id="modal_memo" placeholder="레드엔트 부탱이였는데, 허구헌날 푹찍당함" maxlength="200"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="btn-raid-close" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                                <button type="button" id="btn-raid-save" class="btn btn-info waves-effect waves-light">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal -->
                                <div class="card" style="min-height:460px">
                                    <div class="card-body">
                                        <h4 class="header-title" style="font-weight:bold;">케릭터별 레이드 참여현황</h4>
                                        <p class="text-muted text-truncate mb-0">
                                            일단 컨셉은 한눈의 내 케릭터가 레이드를 갔는지 안갔는지 확인이 되야하고, 만약 안갔다면 간단하게 레이드 이력을 등록할 수 있도록 개발되야함. <br />
                                            추후에는 내 관심 케릭터(타인) 도 추가해서 볼수 있어야 하고, 레이드도 같이 묶어서 신청할 수 있으면 좋을거 같음. <br />
                                            간단하게 케릭터 레이드 참가현황을 확인하고, 빠르게 레이드 <code style="font-size: 100%!important;">등록</code> 및 <code style="font-size: 100%!important;">조회</code>를 하시면 됩니다.
                                        </p>
                                        <div class="table-responsive">
                                            <table class="table mb-0 raid" style="margin-top: 15px;">
                                                <colgroup>
                                                    <col width="5%" />
                                                    <col width="15%" />
                                                    <col width="10%" />
                                                    <col width="10%" />
                                                    <col width="10%" />
                                                    <col width="10%" />
                                                    <col width="10%" />
                                                    <col width="10%" />
                                                    <col width="5%" />
                                                    <col width="5%" />
                                                    <col width="5%" />
                                                </colgroup>
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>케릭명</th>
                                                        <th>안퀴라즈사원</th>
                                                        <th>검은날개의둥지</th>
                                                        <th>화산심장부</th>
                                                        <th>안퀴라즈폐허</th>
                                                        <th>줄구룹</th>
                                                        <th>오닉시아의둥지</th>
                                                        <th>수입</th>
                                                        <th>지출</th>
                                                        <th>합계</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="raid-participate">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </dic>
                        </div>
                    </div> <!-- container -->

                </div> <!-- content -->

              <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Minton theme by <a href="">Coderthemes</a>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript:void(0);">About Us</a>
                                    <a href="javascript:void(0);">Help</a>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
              <!-- end Footer -->

            </div>

          <!-- ============================================================== -->
          <!-- End Page content -->
          <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <script src="../web/assets/js/vendor.min.js"></script>
        <script src="../web/assets/libs/moment/min/moment.min.js"></script>
        <script src="../web/assets/libs/jquery.scrollto/jquery.scrollTo.min.js"></script>
        <script src="../web/assets/js/pages/jquery.todo.js"></script>
        <script src="../web/assets/js/pages/view/generate.js"></script>
        <script src="../web/assets/js/pages/view/dashboard.js"></script>
        <script src="../web/assets/libs/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="../web/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="../web/assets/js/app.min.js"></script>
        <script>
            dashboard.init();
        </script>

    </body>
</html>