<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Log In 2 | Minton - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="../web/assets/images/favicon.ico">
        <!-- App css -->
		<link href="../web/assets/css/bootstrap-corporate.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
		<link href="../web/assets/css/app-corporate.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
		<link href="../web/assets/css/bootstrap-corporate-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
		<link href="../web/assets/css/app-corporate-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />
        <!-- icons -->
		<link href="../web/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
		<style>
		.auth-fluid {
            background: url("../web/assets/images/login_image.jpg") center;
        }
		</style>
    </head>

    <body class="loading auth-fluid-pages pb-0">

        <div class="auth-fluid">
            <!-- Auth fluid right content -->
            <div class="auth-fluid-right">
                <div class="auth-user-testimonial">
                    <h3 class="mb-3 text-white">앱개발이 너무 늦어 빡이쳐서 만든 웹페이지</h3>
                    <p class="lead font-weight-normal">
                        <i class="mdi mdi-format-quote-open"></i>
                        API 개발 해달라고 하도 쫄라서 만들어줬더니, 시간이 없어??? 하참 기가막히고 코가 막히는 상황임. <br/>
                        그래서 뭐 어떻게, 나라도 테스트 해야하니 웹페이지를 만드는 수밖에. 설마 이거 완성될때까지 안나오겠어?<br/>
                        얼마나 고퀄로 앱을 만드는지 함 다같이 지켜봅시다.
                        <i class="mdi mdi-format-quote-close"></i>
                    </p>
                    <h5 class="text-white">
                        - 전취, 우취, 복취, 깜빵
                    </h5>
                </div> <!-- end auth-user-testimonial-->
            </div>
            <!-- end Auth fluid right content -->

            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-left">
                            <div class="auth-logo">
                                <a href="index.html" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <img src="../web/assets/images/logo-dark.png" alt="" height="22">
                                    </span>
                                </a>

                                <a href="index.html" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="../web/assets/images/logo-light.png" alt="" height="22">
                                    </span>
                                </a>
                            </div>
                        </div>

                        <ul class="nav nav-tabs nav-bordered">
                            <li class="nav-item">
                                <a href="#tab-login" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                    로그인
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#tab-signup" data-toggle="tab" aria-expanded="true" class="nav-link">
                                    회원가입
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="tab-login">
                                <p class="text-muted mb-3">사이트에 접속하시려면 이메일 주소와 비밀번호를 입력해 주세요.<br/>계정이 없다면 회원가입 및 관리자에게 연락 주세요.</p>
                                <form name="loginForm" id="loginForm" action="/web/main" method="post">
                                    <input type="hidden" name="userSeq" id="userSeq" value="">
                                </form>
                                    <div class="form-group">
                                        <label for="user_id">이메일 주소</label>
                                        <input class="form-control" type="email" id="user_id" name="user_id" required="" placeholder="Enter your email">
                                    </div>

                                    <div class="form-group">
                                        <a href="auth-recoverpw-2.html" class="text-muted float-right"><small>패스워드 잃어버림??</small></a>
                                        <label for="user_password">패스워드</label>
                                        <div class="input-group input-group-merge">
                                            <input type="password" id="user_password" name="user_password" class="form-control" placeholder="Enter your password">
                                            <div class="input-group-append" data-password="false">
                                                <div class="input-group-text" style="max-height: 35px;">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signin">
                                            <label class="custom-control-label" for="checkbox-signin">아이디 기억하기</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <button id="btnLogin" class="btn btn-primary btn-block" >로그인</button>
                                    </div>
                            </div>
                            <div class="tab-pane" id="tab-signup">
                                <p class="text-muted mb-3">계정이 없나요? 계정 만드는데 1분도 안걸리는데, 만드시면 됩니다. <br/>아니면 당장 나가세요. 혼자있고 싶어요.</p>

                                <!-- form -->
                                <form action="#">
                                    <div class="form-group">
                                        <label for="fullname">사용자 명</label>
                                        <input class="form-control" type="text" id="fullname" placeholder="Enter your name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailaddress">이메일 주소</label>
                                        <input class="form-control" type="email" id="emailaddress" required placeholder="Enter your email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">패스워드</label>
                                        <input class="form-control" type="password" required id="password" placeholder="Enter your password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                            <label class="custom-control-label" for="checkbox-signup">이용약관에 동의하여 주세요.</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary waves-effect waves-light btn-block"> 회원가입 </button>
                                    </div>
                                </form>
                                <!-- end form-->
                            </div>
                        </div>

                        <!-- Footer-->
                        <footer class="footer footer-alt">
                            <p class="text-muted">
                                Created by Ant & UChi Platform Development Dept.
                            </p>
                        </footer>

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->
        </div>


        <script src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous"></script>
        <script src="../web/assets/js/vendor.min.js"></script>
        <script src="../web/assets/js/app.min.js"></script>
        <script src="../web/assets/js/pages/view/login.js"></script>
        <script>
            login.init();
        </script>
    </body>
</html>





















